body{
    background: linear-gradient(to right, #003, #000);
    font-family: "AnekDevanagari";
    margin: 0;
}
.Header{
    margin: 30px 70px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ffdd;
    border-radius: 12px;
    box-shadow: 0 0 40px #000;
}
.Navigator__bar{
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}
.List{
    display: inline-block;
    list-style: none;
    margin: 10px 109px;
}
.List__cont{
    font-size: 1.2em;
    font-weight: 800;
}
.Link{
    color: #ffda;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #ffd;
    border-right: 1px solid #ffd;
    padding: 5px 10px;
    letter-spacing: 3px;
    transition: background 400ms 0.1s, border-bottom 400ms 0.1s,
    border-right 400ms 0.1s, color 400ms 0.1s, padding 400ms 0.1s;
}
.Link:hover{
    background: #27f;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    padding: 10px 15px;
    color: #5f9;
}
.Main{
    margin: 67px 70px;
    padding: 12px;
}
.Section__Main{
    width: 750px;
    font-size: 12px;
    margin: 25px;
    margin-top: 40px;
    padding: 45px;
    box-sizing: border-box;
    letter-spacing: 2.5px;
    text-align: left;
}
.Title{
    font-size: 3.2em;
    padding: 5px 20px;
    color: #88d;
    text-shadow: 0 0 35px #666;
    margin: 0;
}
.Paragraphy{
    padding: 0 20px;
}
.paragraphy__Title{
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 0;
    text-transform: uppercase;
    color: #fff;
    text-wrap: pretty;
    text-shadow: 0 0 35px #666;
}
.List__Main{
    display: inline-block;
    list-style: none;
    margin: 5px 30px;
    margin-top: 5px;
    margin-left: 0;
    padding: 0;
}

.Imagen__List{
    width: 75px;
    filter: brightness(1,1);
    filter: drop-shadow(0 0 40px #fff);
    mix-blend-mode: overlay;
    border-radius: 30%;
    outline: 1px solid #ffdf;
    outline-offset: 3px;
    transition: padding 400ms 0.1s, outline 400ms 0.1s;
}
.Imagen__List:hover{
    padding: 5px 20px;
    outline: 1px solid #ffdd00;
    outline-offset: 10px;
}
.Section__page{
    position: relative;
    width: 600px;
    text-align: center;
    left: 905px;
    bottom: 415px;
    padding: 20px;
    font-size: 14px;
}
.Imagen{
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 40px #000;
    transition: box-shadow 400ms 0.1s;
}
.Imagen:hover{
    box-shadow: 0 0 40px #ffdd00;
}
.Paragraphy{
    margin-top: 30px;
    color: #ffd;
    font-size: 3.2em;
    font-style: italic;
    font-weight: 300;
    text-shadow: 0 0 5px #000;
}
.Section__about{
    position: relative;
    bottom: 520px;
    left: 0;
    width: 800px;
    padding: 20px;
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 15px;
    border-top: 2px solid #ffdd;
    border-bottom: 2px solid #ffdd;
    text-align: center;
}
.Imagen__about{
    width: 500px;
    border-radius: 30px;
    margin-top: 25px;
}
.Title__about{
    color: #fff;
    text-shadow: none;
    font-size: 3.4em;
    text-align: left;
    padding: 5px 50px;
}
.Paragraphy__about{
    line-height: 40px;
    font-size: 2.2em;
    text-align: justify;
    letter-spacing: 2px;
    padding: 5px 50px;
}



