body{
    margin: 0;
    background-image: url("https://e0.pxfuel.com/wallpapers/845/71/desktop-wallpaper-star-wars-planets-star-wars-universe.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 24px;
}
.Header__page{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    font-size: 24px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.Navigation__bar{
    margin: auto;
    background-color: #000;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px 160px;
    font-weight: 400;
    font-style: italic;
    box-shadow: 0px 0px 20px #fd0;
}
.Navigation__bar__List{
    display: flex;
    list-style: none;
    margin: 10px 20px;
    margin: auto;
}
#List__content{
    font-size: 2em;
    margin: 0 160px;
    font-weight: 600;
    padding: 10px;
    
}
.Navigation__bar__Link{
    text-decoration: none;
    color: #ffd;
}
.Title{
    font-size: 7em;
    color: #002;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #fd0;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 30px;
    text-align: left;
}
.Main__page{
    margin-top: 30px;
    padding: 20px;   
}
.section__page{
    width: 700px;
    margin: auto;
    text-align: center;
    margin-left: 5px;
    padding: 30px;
    margin: 10px;
}
.paragraphy{
    font-size: 3em;
    color: #ffd;
    padding: 6px 20px;
    margin: 5px;
}