body{
    margin: 0;
    font-family: "Ubuntu";
}
.Header{
    margin: 20px 50px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 40px #000;
    font-size: 12px;
}
.Title{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: linear-gradient(to right, #000, #ffdd00);
    color: #ffdf;
    padding: 5px;
    margin-left: 40px;
}
.Navigator__bar{
    margin: 10px;
    padding-top: 15px;
}
.List{
    display: inline-block;
    margin: 0 160px;
}
.Link{
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #003;
    border-right: 2px solid #ffdd00;
    border-bottom: 2px solid #ffdd00;
    border-radius: 20px;
    padding: 7px;
    margin: 0;
    transition: background-color 1s 0.1s, color 1s 0.1s, 
    border-right 1s 0.1, border-bottom 1s 0.1s, padding 1s 0.1s;
}
.Link:hover{
    background: #456;
    color: #ffdd00;
    border-right: 2px solid #005;
    border-bottom: 2px solid #005;
    padding: 15px;
}