*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}
:root{
    --PrimaryColor: #000;
    --SecondaryColor: #ffe81f;
    --HoverColor: #2e579e;
    --FontColor: #ddb27f;
}
body{
    background: url(../Imagen/Fondo.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
main{
    position: absolute;
    top: 65px;
    left: 100px;
    width: 50%;
    height: 86%;
    border: 1px solid var(--SecondaryColor);
    background-color: var(--PrimaryColor);
    border-radius: 25px;
    color: var(--FontColor);
    padding: 15px;
    display: flex;
    justify-content: left;
}
main .Peliculas{
    height: 205px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
main .Peliculas::-webkit-scrollbar{
    display: none;
}
main .Peliculas article h2{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-style: italic;
    padding-left: 15px;
}
main .Peliculas article:nth-child(1){
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 30px;
    border-radius: 15px;
    border-bottom: 2px solid var(--HoverColor);
}
main .Peliculas article:nth-child(1) svg{
    cursor: pointer;
    transition: .1s linear;
}
main .Peliculas article:nth-child(1) svg:hover{
    padding: 1.5px;
}
main .Peliculas article:nth-child(1) div{
    margin: 2px;
    display: flex;
    gap: 15px;
    margin-left: 450px;
}
main .Peliculas article:nth-child(2){
    height: 125px;
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    border-left: 2px solid var(--HoverColor);
    border-bottom: 2px solid var(--HoverColor);
    border-radius: 25px;
    padding-left: 5px;
}
MAIN .Peliculas article:nth-child(2)::-webkit-scrollbar{
    display: none;
}
main .Peliculas article:nth-child(2) div{
    display: flex;
    flex-flow: column wrap;
    gap: 3px;
    text-align: center;
}
main .Peliculas article:nth-child(2) div img{
    width: 146px;
    border-radius: 10px;
    border: 2px solid var(--FontColor);
    transition: .1s linear;
}
main .Peliculas article:nth-child(2) div img:hover{
    padding: 5px;
    border: 2px solid var(--HoverColor);
    cursor: pointer;
}
main .Peliculas article:nth-child(2) div p{
    letter-spacing: 1px;
    font-size: 0.9em;
}